body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    background: linear-gradient(to top, #266b39 0%, #d0e2cf 100%);
    color: #090f08;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 10%;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 2.1875em;
    padding-top: 10%;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
    padding-bottom: 30px;
}

p {
    margin: 30px 25%;
    text-align: justify;
    font-size: 1.125em;
    padding-bottom: 10px;
}

.navbar { /* Header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #cddecc, #2b4929);
    /* Colour of the navbar */
    height: 75px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 65px;
    height: 65px;
    margin: 4px 4px 4px 10px;
}


.navbar ul {
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, #cddecc, #2b4929);
    /* Colour of the navbar */
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    font-size: 18px;
    color: white;
    /* Colour of navbar words */
    text-decoration: none;
    box-shadow: none;
    opacity: 100%;
    text-align: center;
    padding: 23px 20px;
    margin: 3px;
    display: flex;
}

.navbar a:hover {
    color: darkslategray;
    /* Colour of hovered navbar words */
    background-color: #c9dfc8;
    /* BG Colour of hovered navbar */
    opacity: 100%;
    margin: 3px;
}

a.active {
    text-decoration: underline;
    color: #301245;
    /* Colour of active navbar words */
    background-color: #ccddca;
    /* BG Colour of active navbar */
    margin: 3px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 20px;
    background: linear-gradient(to bottom, #266b39 0%, #00191f 90%);
    opacity: 98%;
    color: lightgray;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: smaller;
}

footer p {
    margin: 10px 0 0;
    text-align: justify;
    font-size: 0.9em;
    padding-bottom: 0;
}

.studentEditor,
.footerMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px 5px 0;
    flex-wrap: wrap;
}

.studentEditor-item,
.footerMenu-item {
    list-style: none;
}

.studentEditor-link {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.studentEditor-link:hover {
    transform: translateY(-10px);
}

.footerMenu-link {
    font-size: 0.8rem;
    color: #deecdd;
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
    font-weight: 300;
}

.footerMenu-link:hover {
    opacity: 1;
}
